- @title = '東京ボルダリング部'

%header
  %h1
    東京ボルダリング部 #tkbb
  %p.lead クライミングの練習記録をつけて、部員同士で意識を高め合おう！

%section.main-menu
  %p.start-here
    =link_to raw('<i class="icon-ok icon-white"></i> ') + 'クライミングの記録をつける', new_climbing_path, :class => 'btn btn-large btn-info'
