table.gyms {
  width: 750px;
  margin: 5px auto;
  background-color: #fff;
  border-collapse: collapse;
  border-spacing: 0;
}

table.gyms tr {
  border: solid 2px #ccc;
}
table.gyms td {
  padding: 5px;
}

table.gyms col.name {
  width: 350px;
}

table.gyms col.pos {
  background-color: #ddd;
}

table.gyms col.action {
  background-color: #fff;
  border: solid 2px #bbb;
}
